.footer {
  background-color: #26272b;
  color: #888;
  margin: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-container {
  margin: 0;
  padding: 0;
}

.copyright-container p {
  color: #aaa;
}