.navbar {
  display: flex;
  width: 200px;
  background-color:#FDF8F5;
  border-radius: 20px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  margin-top: 20px;
  margin-left: 80px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.05);
}

.nav-items-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  align-items: center;
}

/* 개별 메뉴 */
.navbarMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 10px;
}

.navbarMenu:hover {
  color: #609966;
  font-weight: 600;
}

.navbarMenu.active {
  color: #609966;
  font-weight: 600;
}

/* 아이콘 */
.nav-icon, .nav-icon-placeholder {
  width: 60px;
  height: 60px;
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}