.admin-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.admin-main-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.admin-page-content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto; 
}